.logo-container {
    z-index: 0;
    width: 400px;
    height: 609px;
    // opacity: 0;
    position: absolute;
    top: 0;
    right: 15%;
    bottom: 0;
    left: auto;
    margin: auto;
  
    .flag {
      width: 100%;
      height: 300px;
      display: flex;  
      margin-top: 50%;    
      z-index: 100;
    }

    .column{
      width: 100%;      
      background: linear-gradient(
        to bottom,
        hsl(357.5deg 57.14% 49.41%) 0% 33.3%,
        hsl(210.57deg 81.54% 25.49%) 33.3% 66.7%,
        hsl(0deg 0% 100%) 66.7% 100%
      );

      &:first-child {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;                
        overflow: hidden;
      }

      &:last-child {        
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        overflow: hidden;
      }

      animation: upDown 500ms infinite;
      animation-direction: alternate;
      animation-timing-function: ease-in-out;
      animation-fill-mode: backwards;
    }

    svg {
      width: 100%;
      height: auto;
      bottom: 0;
      transform: rotateZ(30deg) !important;
    }
  
    .solid-logo {
      position: absolute;
      top: auto;
      right: auto;
      bottom: auto;
      left: 0;
      margin: auto;
      width: 100%;
      opacity: 1;
      transform: rotateZ(30deg) !important;
      z-index: 100;
    }
}
  
.svg-container {
    stroke: limegreen;
    stroke-width: 10;
}

@keyframes upDown {
  from { transform: translateY(8px);}
  to {transform: translateY(-8px);}
}

@for $i from 1 through 20 {
  .column:nth-child(#{$i}) {
    animation-delay: $i*100ms;
  }
}